<nav class="health-dimension-rate__options-and-labels health-dimension-rate__options--numeric">
  <div class="health-dimension-rate__options" #steppsRating>
    <button class="health-dimension-rate__option button command command--unselected" (click)="addRating(1,steppsRating)">
      <div class="health-dimension-rate__option-indicator health-indicator">
        <!-- <span class="health-indicator__number"  style="background: rgb(245, 9, 9);">1</span> -->
        <span class="health-indicator__number"  style="background: #872181;">1</span>
      </div>
    </button>
    <button class="health-dimension-rate__option button command command--unselected" (click)="addRating(2,steppsRating)" >
      <div class="health-dimension-rate__option-indicator health-indicator">      
        <!-- <span class="health-indicator__number" style="background: rgb(255, 115, 0);">2</span> -->
        <span class="health-indicator__number" style="background: #960032;">2</span>
      </div>
    </button>
    <button class="health-dimension-rate__option button command command--unselected" (click)="addRating(3,steppsRating)">
      <div class="health-dimension-rate__option-indicator health-indicator">
        <!-- <span class="health-indicator__number" style="background: rgb(255, 174, 0);">3</span> -->
        <span class="health-indicator__number" style="background: #ff5050;">3</span>
      </div>
    </button>
    <button class="health-dimension-rate__option button command command--unselected" (click)="addRating(4,steppsRating)">
      <div class="health-dimension-rate__option-indicator health-indicator">
        <!-- <span class="health-indicator__number" style="background: rgb(65, 236, 13);">4</span> -->
        <span class="health-indicator__number" style="background: #50ccaa;">4</span>

      </div>
    </button>
    <button class="health-dimension-rate__option button command command--unselected" (click)="addRating(5,steppsRating)">
      <div class="health-dimension-rate__option-indicator health-indicator" >
        <!-- <span class="health-indicator__number" style="background: rgb(21, 179, 0);">5</span> -->
        <span class="health-indicator__number" style="background: #50f0e6;">5</span>

      </div>
    </button>
  </div>
</nav>
