<div class="container">
  <form class="form-horizontal" role="form">
    <div class='container'>

      <div class='row'>
        <div class="col-lg-12">
          <div class="form-heading">
            <span class="prg">Company Information</span>
          </div>
        </div>
      </div>
      <div class='row'>

        <div class="col-lg-6">
          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.name" [ngModelOptions]="{standalone: true}" placeholder="Name"
              required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.tax_identification" [ngModelOptions]="{standalone: true}"
              placeholder="Tax Identification" required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.trade_licence" [ngModelOptions]="{standalone: true}"
              placeholder="Trade Licence" required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.email" [ngModelOptions]="{standalone: true}" placeholder="Email"
              required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.phone" [ngModelOptions]="{standalone: true}" placeholder="Phone"
              required />
          </mat-form-field>

        </div>

        <div class="col-lg-6">

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.mobile" [ngModelOptions]="{standalone: true}" placeholder="Mobile"
              required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.address" [ngModelOptions]="{standalone: true}" placeholder="Address"
              required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.zip_code" [ngModelOptions]="{standalone: true}" placeholder="ZIP"
              required />
          </mat-form-field>
          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.city" [ngModelOptions]="{standalone: true}" placeholder="City"
              required />
          </mat-form-field>
          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.country" [ngModelOptions]="{standalone: true}" placeholder="Country"
              required />
          </mat-form-field>

        </div>

 



      </div>



    </div>

    <main class="page__footer">

      <button class="button button--large command command--unselected" style="margin:0 1em" (click)="addNewCompany()">
        Save
      </button>

    </main>
  </form>

</div>
