<div class="container">
  <form class="form-horizontal" role="form">
    <div class='container'>

      <div class='row'>
        <div class="col-lg-12">
          <div class="form-heading">
            <span class="prg">Company Information</span>
          </div>
        </div>
      </div>
      <div class='row'>

        <div class="col-lg-6">
          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.Name" [ngModelOptions]="{standalone: true}" placeholder="Name"
              required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.TaxIdentification" [ngModelOptions]="{standalone: true}"
              placeholder="Tax Identification" required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.TradeRegister" [ngModelOptions]="{standalone: true}"
              placeholder="Trade Register" required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.Email" [ngModelOptions]="{standalone: true}" placeholder="Email"
              required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.Phone" [ngModelOptions]="{standalone: true}" placeholder="Phone"
              required />
          </mat-form-field>

          <!-- <mat-form-field class=" col-sm-12">
              <input matInput [(ngModel)]="company.NbreParticipant" [ngModelOptions]="{standalone: true}"
               placeholder="Participant number" type="number"
                required />
            </mat-form-field> -->


        </div>

        <div class="col-lg-6">



          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.Mobile" [ngModelOptions]="{standalone: true}" placeholder="Mobile"
              required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.Adress" [ngModelOptions]="{standalone: true}" placeholder="Adress"
              required />
          </mat-form-field>

          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.Zip" [ngModelOptions]="{standalone: true}" placeholder="ZIP"
              required />
          </mat-form-field>
          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.City" [ngModelOptions]="{standalone: true}" placeholder="City"
              required />
          </mat-form-field>
          <mat-form-field class=" col-sm-12">
            <input matInput [(ngModel)]="company.Country" [ngModelOptions]="{standalone: true}" placeholder="Country"
              required />
          </mat-form-field>

        </div>

        <div class="col-lg-12">
          <mat-card>
            <div style="display: flex;">
              <mat-card-title class="col-md-10">Group</mat-card-title>
            </div>

            <mat-divider></mat-divider>

            <!-- loop throught units -->
            <div *ngFor="let group of company.Groups;let i=index;">
              <!-- row divider show for every nex row exclude if first row -->
              <mat-divider></mat-divider>
              <br />

              <!-- group name in this case row index -->
              <div>

                <!-- lang title input field -->
                <mat-form-field class="col-md-4">
                  <input [(ngModel)]="group.Title" [ngModelOptions]="{standalone: true}" matInput placeholder="Title"
                    type="text" required />
                </mat-form-field>

                <!-- unit price input field -->
                <mat-form-field class="col-md-7">
                  <input [(ngModel)]="group.Description" [ngModelOptions]="{standalone: true}" matInput
                    placeholder="Description" type="text" required />
                </mat-form-field>

                <!-- <button class="col-md-2" type="button" mat-raised-button>
                  <mat-icon>supervised_user_circle</mat-icon>
                  Add Participants
                </button> -->

                <button *ngIf="company.Groups.length > 1" class="col-md-1" type="button" mat-raised-button
                  (click)="deleteGroup(i)">
                  <mat-icon>remove_circle</mat-icon>
                  Delete
                </button>
              </div>

            </div>

            <!-- New unit button -->
            <mat-divider></mat-divider>
            <mat-card-actions>
              <button type="button" mat-raised-button (click)="addNewGroup()">
                <mat-icon>add box</mat-icon>
                Add new Group
              </button>
            </mat-card-actions>
          </mat-card>

        </div>



      </div>



    </div>

    <main class="page__footer">

      <!-- <button class="button button--large command command--unselected" style="margin:0 1em" (click)="addNewCompany()">
        Participant Management
      </button> -->

      <button class="button button--large command command--unselected" style="margin:0 1em" (click)="addNewCompany()">
        Add Company
      </button>

    </main>
  </form>

</div>