<div class="container">
    <div class='row'>
        <div class="col-lg-12">
            <div class="form-heading">
                <span class="prg">Session Information</span>
            </div>
        </div>
    </div>
    <div class='row'>
        <mat-card>
            <div style="display: flex;">
                <mat-card-title class="col-md-10">Session</mat-card-title>
            </div>

            <mat-divider></mat-divider>
            <br />
            <div>

                <mat-form-field class="col-md-6" style="padding-right: 5%;">
                    <input [(ngModel)]="survey.Name" [ngModelOptions]="{standalone: true}" matInput
                        placeholder="Session Name" required />

                </mat-form-field>

                <mat-form-field class="col-md-6" style="padding-right: 5%;">
                    <input [(ngModel)]="survey.Description" [ngModelOptions]="{standalone: true}" matInput
                        placeholder="Description" type="text" required />
                </mat-form-field>

                <mat-form-field class=" col-sm-12">
                    <mat-label>Company</mat-label>
                    <mat-select [(ngModel)]="survey.Company_Id" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let cmp of companies" [value]="cmp.Id">{{cmp.Name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class=" col-sm-12">
                    <mat-label>Template</mat-label>
                    <mat-select [(ngModel)]="survey.Template_Id" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let tmp of templates" [value]="tmp.Id">{{tmp.Name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="!survey.IsMultiSession" class=" col-sm-12">
                    <mat-label>Coach</mat-label>
                    <mat-select [(ngModel)]="survey.Coach_Id" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let c of coachs" [value]="c.Id">{{c.Name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="!survey.IsMultiSession" class=" col-sm-12">
                    <input matInput [(ngModel)]="survey.NbreParticipant" [ngModelOptions]="{standalone: true}"
                        placeholder="Participant number" type="number" required />
                </mat-form-field>

                <section class="col-sm-12">
                    <mat-checkbox class="example-margin"
                        [(ngModel)]="survey.IsMultiSession" 
                        [ngModelOptions]="{standalone: true}" 
                        [(indeterminate)]="indeterminate"
                        [labelPosition]="labelPosition">
                        Sub-Session 
                    </mat-checkbox>
                </section>

            </div>
        </mat-card>

        <app-list-sub-session style="width: 100%;" *ngIf="survey.IsMultiSession"  ></app-list-sub-session>

    </div>
    <main class="page__footer">

        <button (click)="back()" class="button button--large command command--unselected" style="margin:0 1em">
            Back
        </button>

        <button (click)="addNewSurvey()" class="button button--large command command--unselected" style="margin:0 1em">
            Save
        </button>

            <button *ngIf="survey.IsMultiSession"  class="button button--large command command--unselected" style="margin:0 1em"
             routerLink="./new-sub-session">
                Add New Session
            </button>

        <!-- <button class="button button--large command command--unselected" (click)="selectedSession()"
            routerLink="./subSessions" style="margin:0 1em">
            Define Sub-session
        </button> -->
    </main>
</div>