<section style="max-width: 100em;margin: auto;display: block;">



  <div class="section-dimension-rate">
    <div class=" col-sm-2">
      <h3 class="survey-dimension-name">{{survey.QuestionTitle}}</h3>
    </div>

    <div [ngClass]="{'col-sm-7': userConnected != 'coach', 'col-sm-10' : userConnected === 'coach' }" class="col-sm-7">
      <section class="survey-dimension-rate__input">
        <p class="survey-dimension-description">
          {{survey.Question}}
        </p>
        <app-rating  *ngIf="userConnected !='coach'" [survey]="survey"></app-rating>
      </section>
    </div>
    <div *ngIf="userConnected !='coach'" class="col-sm-3" style="width:20%;min-width:20%;">
      <div class="survey-dimension-rate__comments" #InputComment>
        <!--appel recursive-->
        <div class="carousel__opaque" *ngFor="let commentary of survey.Commentaryies; let i= index;">
          <app-commentary [commentary]="commentary" [comments]="survey.Commentaryies" (actionNewCommentary)='addNewComment(InputComment)'></app-commentary>
        </div>
      </div>

    </div>
  </div>
</section>

